<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de Musicfy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col sizeMd="6" offsetMd="3" sizeSm="12" offsetSm="0" sizeLg="4" offsetLg="4">
        <ion-card>
          <ion-img class="image-logo" src="assets/img/logo.svg" style="margin-top: 10px;"></ion-img>
          <ion-card-content>
            <div padding>
              <ion-button shape="round" color="primary" expand="block" (click)="exit()">SALIR</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
