<ion-content padding>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col sizeMd="6" offsetMd="3" sizeSm="12" offsetSm="0" sizeLg="4" offsetLg="4">
        <ion-card>
          <ion-img class="image-logo" src="assets/img/logo.svg"></ion-img>
          <ion-card-content>
            <ion-card-title>Iniciar sesión</ion-card-title>
            <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
              <ion-list>
                <ion-item>
                  <ion-label position="floating" [color]="loginForm.controls['username'].errors && loginForm.controls['username'].dirty ? 'primary':null">Usuario</ion-label>
                  <ion-input type="email" formControlName="username"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" [color]="loginForm.controls['password'].errors && loginForm.controls['password'].dirty ? 'primary':null">Contraseña</ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
              </ion-list>
              <div padding>
                <ion-button shape="round" type="submit" color="primary" expand="block" [disabled]="loginForm.invalid">INGRESAR</ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
