<ion-tabs>
  <ion-tab label="Inicio" icon="ios-home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Favoritas" icon="ios-heart" href="/tabs/(favorites:favorites)">
    <ion-router-outlet name="favorites"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Acerca" icon="ios-musical-note" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
