<ion-header>
    <ion-toolbar>
        <ion-back-button></ion-back-button>
        <ion-title>{{data.name}} - {{data.artist.full_name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list no-border>
        <ion-list-header>
            Canciones
        </ion-list-header>
        <ion-item *ngFor="let track of tracks">
            <ion-icon item-start [name]="track.is_favorite ? 'ios-heart':'ios-heart-empty'" [color]="track.is_favorite ? 'primary':null" (click)="addFavorite(track)"></ion-icon>
            <ion-label>
                {{track.name}}
            </ion-label>
            <ion-icon item-end name="ios-play-circle" (click)="playSong(track)" *ngIf="playing_id!=track.id"></ion-icon>
            <ion-icon item-end [name]="is_playing ? 'ios-pause':'musical-note'" [color]="is_playing ? null:'primary'" (click)="pauseSong(track)" *ngIf="paused_id==track.id"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
