<ion-header>
    <ion-toolbar>
        <ion-title>Canciones Favoritas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list no-border>
        <ion-item *ngFor="let favorite of favorites">
            <ion-icon item-start [name]="favorite.track.is_favorite ? 'ios-heart':'ios-heart-empty'"
                      [color]="favorite.track.is_favorite ? 'primary':null"
                      (click)="addFavorite(favorite.track)"></ion-icon>
            <ion-label>
                {{favorite.track.name}}
            </ion-label>
            <ion-icon item-end name="ios-play-circle" (click)="playSong(favorite.track)"
                      *ngIf="playing_id!=favorite.track.id"></ion-icon>
            <ion-icon item-end [name]="is_playing ? 'ios-pause':'musical-note'" [color]="is_playing ? null:'primary'"
                      (click)="pauseSong(favorite.track)" *ngIf="paused_id==favorite.track.id"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
