<ion-header>
    <ion-toolbar>
        <ion-back-button></ion-back-button>
        <ion-title>Discografía de {{artist.full_name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-card *ngIf="albums.length <= 0">
            <ion-card-header>
                <ion-card-subtitle>No hay información registrada</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
        <ion-list *ngFor="let album of albums">
            <ion-card>
                <img src={{album.cover}}/>
                <ion-card-content>
                    <ion-card-title>
                        {{album.name}}
                    </ion-card-title>
                    <p>
                        {{album.description}}
                    </p>
                </ion-card-content>
                <ion-row no-padding>
                    <ion-col text-center>
                        <ion-button shape="round" color="primary" fill="outline" icon-start expand="block" (click)="goToAlbumTracks(album)">
                            <ion-icon name='musical-notes'></ion-icon>
                            Ver Álbum
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
    </div>
</ion-content>
