<ion-header>
    <ion-toolbar>
        <ion-title>Musicfy</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-segment color="primary" style="padding-bottom: 10px;">
        <ion-segment-button value="albums" (click)="albumsTab()">
            Discografías
        </ion-segment-button>
        <ion-segment-button value="artists" (click)="artistsTab()">
            Artistas
        </ion-segment-button>
    </ion-segment>
    <div *ngIf="tab_active=='albums_tab'">
        <ion-list *ngFor="let album of albums">
            <ion-card>
                <img src={{album.cover}}/>
                <ion-card-content>
                    <ion-card-title>
                        {{album.name}}
                    </ion-card-title>
                    <p>
                        {{album.description}}
                    </p>
                </ion-card-content>
                <ion-row no-padding>
                    <ion-col text-center>
                        <ion-button shape="round" color="primary" fill="outline" icon-start expand="block" (click)="goToAlbumTracks(album)">
                            <ion-icon name='musical-notes'></ion-icon>
                            Ver Álbum
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
    </div>
    <div *ngIf="tab_active=='artists_tab'">
        <ion-list *ngFor="let artist of artists">
            <ion-card>
                <img src={{artist.avatar}}/>
                <ion-card-content>
                    <ion-card-title>
                        {{artist.full_name}}
                    </ion-card-title>
                </ion-card-content>
                <ion-row no-padding>
                    <ion-col text-center>
                        <ion-button shape="round" color="primary" fill="outline" icon-start expand="block" (click)="goToAlbumsArtist(artist)">
                            <ion-icon name='musical-notes'></ion-icon>
                            Ver Discografía
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
    </div>
</ion-content>
